html,
body,
::before,
::after {
    margin: 0;
    padding: 0;
}

div.container {
    margin: 5vh auto;
    box-shadow: 0 0 5px rgb(241, 241, 241);
    padding: 5vh;
    text-align: center;
    /* box-sizing: content-box; */
}



.recyparc-container {
    display: inline-flex;
    align-items: center;
}

.recyparc-container .recyparc-img {
    width: 100px;
}

.recyparc-info {
    font-weight: bolder;
}

/* * {
    border: 1px solid black;
} */